.emoji img{
  width: 95%;
}
#aboutWrap{
  padding: 5%;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

}

.aboutme{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  text-align: left;
  border-left: 1px solid white;
  padding-left: 3%;
  // color: black;
  // font-size: 72px;
  color: #e1e5e5;
  
}

.frameworks{
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);  
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 2%;


}

.frameworks{
  // background-color: black;

}

 .frameworks img { 
  height: 6vh;
}

#about{
  // background-color: white;
  background: linear-gradient(0deg, rgba(0,0,0,1) 24%, rgba(63,52,87,1) 64%, rgba(160,129,217,1) 100%);

    
}

.hideAbout {
  opacity: 0;
}

.show{
  opacity: 1;
}





@media(min-width: 700px){
  
  #aboutWrap{
    grid-template-columns: 1fr 1fr;
    align-items: center;
  
  }
  

  #aboutWrap{
    grid-template-columns: 1fr 2fr;
    
  }

  .emoji{
    padding-right: 2%;
  }

  .frameworks{
    grid-template-columns: repeat(auto-fit, 200px);  

  }

  .frameworks img { 
    height: 10vh;
  }
  


}