
#projectList{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.dropShadow{
    opacity: 0;
    transition:1s;
}

h2.dropShadow  {
    border: none;
    box-shadow: none;
}

.show {
    opacity: 1;
    transition: 1s;
}


#header{
    margin-right: auto;
}

ul, #content p{
    list-style: none;
    padding-left: 10px;
}

li, #content p{
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
}


.container{
    width: 90%;
    margin: auto;
    color:rgb(240, 185, 240);
    font-size: 1.5em;
    padding-bottom: 1%;
    text-align: left;

}

.container:nth-of-type(2) {
   text-align: right;
}

h2.container{
    // padding-top: 4%;
    padding-bottom: 0;
    padding-bottom: 5px;
    color: white;
}
.row1 img{
    width: 75%;
}
.projHeader{
    grid-area: projHeader;
}
.row1 {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    grid-template-areas:
        "projHeader"
        "projImg"
}

.projDescription{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}





        .project-list{
            display: grid;
            // grid-template-columns: repeat(auto-fill, 130px);
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            grid-auto-rows: 130px;

            // grid-auto-rows: 130px; 
            grid-gap: .1em;
            width: 90%;
            margin: auto;

            justify-content: center;
            margin-bottom: 2%;

        }

        // .dropShadow h3{
        //     font-size: .8em;
        //     color:rgb(240, 185, 240);
        // }





        .project-list a{
            display: grid;
            /* grid-template-columns: 1fr; */
            /* justify-content: center; */
            align-content: center;
            
            
        } 

        .dropShadow h3{
            font-size: .6em;
            color:#9f09ad;
            font-weight: bold;
        }




        // .project-list a {
        //     text-decoration: none;
        //     color: var(--yellow);




        // }


        /* #project-list div{
            
            background: purple;
            z-index: 0;
        }
         */
        #popNow{
            background-image: url("../images/bw/popNow.jpg");
            background-size: cover;
            background-position: center; 
        }
        #wordpressTheme{
            background-image: url("../images/bw/wpTheme.jpg");
            background-size: cover;
            background-position: center; 
        }
        #cocktail{
            background-image: url("../images/bw/cocktails.jpg");
            background-size: cover;
            background-position: center;
            
            
        
        }
        #busmall{
            background-image: url("../images/images/projects/analysis.jpg");
            background-size: cover;
            background-position: center;

        
        }
        #cookiestore{
            background-image: url("../images/images/projects/cookie.jpg");       background-size: cover;
            background-position: center;

        
        }

        #quiz{
            background-image: url("../images/bw/test.jpg");
            background-size: cover;
            background-position: center;


        
        }
        #barberstarrs{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/barberstarrs.jpg");
                 
        }
        #designs{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/designs.jpg");
                 
        }
        #noBalance{
            background-size: cover;
            background-position: center;
            background-image: url("../images/images/projects/nobalance.jpg");
                 
        }
        #h2{
            background-size: cover;
            background-position: center;
            background-image: url("../images/images/projects/h2.jpg");
                 
        }
        #magazine{
            background-size: cover;
            background-position: center;
            background-image: url("../images/images/projects/1859.jpg");
                 
        }
        #cookbook{
            background-size: cover;
            background-position: center;
            background-image: url("../images/images/projects/cookbook.jpg");
                 
        }
        #meme{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/kermit.png");
                 
        }

        #popup{
            background-size: cover;
            background-position: center;
            background-image: url("../images/bw/popup.jpg");
                 
        }



        


        

        .project-list div{
            justify-items: center;
        }

        .project-list img{
            width: 100%;

        }

        .dropShadow h3 {
            // background:rgba(146, 143, 143, 0.7);
            background: white;
            // text-align:Center;
            padding: 1%;
            // position: relative;
            opacity: 0;

        }






          .dropShadow{
            border: 2px solid #9f09ad;
            box-shadow: 0px 0px 10px 2px rgba(240, 185, 240, 0.295);

        }
          .dropShadow:hover > h3 {
            transition-duration: .7s;
            box-shadow: none;
            opacity: 1;

        }

        .dropShadow:hover{
            border-color: white;
        }



        h4{
            text-align: center;

        }





        #content:nth-of-type(1){
            display: none;
        }

        .content{
            margin-top: 5%;
            border-bottom: 1px solid var(--purple);
            display: none;
        }

    
        .project-details{
            color: black;
            display: none;
            /* margin-top: -25%; */


        }

        #projectSection{
            display: none;
            /* background: var(--purple); */
            /* background: #c9c7c7; */
            margin: auto;
            margin-top: 5%;
            /* border: solid 5px var(--lightPurp); */
            color: #5e4062;

        }

        p.description{
            margin-bottom: 10%;
        }



        @media screen and (min-width: 700px) {
       
            
            .container{
                padding-bottom: 2%;

            }
            .projDescription{
                text-align: left;
                padding-left: 0;
                padding-right: 0;
            }
            
            
            h2.container{
                text-align: left;
            }
            
    
            .project-list{
                grid-gap: .5em;
    
            }
            .blogSpot{
                padding: 10%;
               
            }
            #projectSection img {
                width: 80%;
            }

            .row1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                flex-direction: start;
                width: 100%;
                // display: grid;
                // grid-template-columns: 1fr 1fr;
                justify-content: center;
                justify-items: center;
            }

            .row1{
                align-items: center;
            }

            .row1 h1 {
                text-transform: uppercase;
            }

            .row1 h2 {
                text-align: center;
                border-top: 1px solid #c40bce;
                padding-top: 10%;
            }
            
      

            .row2{
                text-align: left;
            }

            .projDescription{
                margin-top: 5%;
                margin-left: 5%;
                width: 40%;
  
            }
            /* .projDescription{
                text-align: center;
                width: 58%;
                margin: auto;
                margin-top: 5%;
            } */

            .projDescription p{
                line-height: 1.4em;

            }
        }

   

        


            


    